.Footer_1
{
    width:13%;
    color:ivory;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.56em;
    text-align:center;
    margin-top:2%;
    margin-right:5%;
    margin-left:5%;
    float:left;
    text-align: center;
}

.Footer_1 Span
{
    font-size:0.637em;
    color:red;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.Footer_2
{
    color:ivory;
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.8125em;
    width:20%;
    float:left;
    margin:0 1% 0 1%;
    text-align: center;
}

.Footer_2 a
{
    text-decoration: none;
    color:ivory;
    line-height:18px;


}

.Footer_2 a:hover
{
    color:red;
    transition: 800ms;


}
.Footer
{
    width:100%;
    display:block;
    background-color: black;
    float:left;
    text-align: center;
}
.Footer_2 p
{
    text-align: left;
    padding-left:25%;
}
