.home {
              
    text-align: center;
    background-color:black;
    margin:0;
    padding:10px 0 10px 0;
    
    
}

.home a
{
    text-decoration: none;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:ivory;
}

.home a:hover
{
    color:red;
    transition: 1s;
}

body
{
    margin:0 0 0 0;
    background-color: black;
}