
.inner_right
{
 float:left;
 display:inline;
 height:20%;
 width:50%;
 padding-top:5%;

}
.inner_left
{
 padding-left:25%;
    float:left;
     display:inline;
     height:20%;
     width:20%;

}


li p
{
    color:ivory;
    font-family:Arial, Helvetica, sans-serif;
    line-height:50px;
    font-size:20px;
    font-weight:lighter;
}

 .navigation
 {


     text-align:right;
     padding-bottom:15px;
     background-color: black;
 }
 h1
 {
    color:ivory;
    font-size: 25px;
    text-align:center;


    }

/*.tail_img
{
   text-align:center;
   margin:0px;
}
*/


video
{
    margin:0;
}
