.container img
{
    width:250px;

}
.container
{
    background-color: rgba(39, 41, 41, 0.493);
    margin:0px;
     padding:18px 18px 10px 18px;
     border-radius:7px;
     transition:600ms;
    position:relative;
}

.container:hover
{
    background-color:rgb(48, 46, 46);
    transition:600ms;
   
}



.overlay
{
    position:absolute;
   top:0;
   padding-top:35%;
   left:0;
   right:0;
   bottom:0;
    opacity:0;
    transition: 600ms;
   
    
}
.container a
{
    text-decoration:none;
    color:ivory;

}

.overlay p
{  
   
    text-align: center;
}

.overlay:hover
{   background-color:rgba(0, 0, 0, 0.712);
    opacity:1;
    transition:600ms;
}

.cont_p
{
 color:ivory;
 opacity:0.6;
 font-family: Arial, Helvetica, sans-serif;
font-weight:lighter;
 font-size:20px;
 margin-bottom:10px;
margin-top:10px;

}

.moosix_logo
{
    color:ivory;
 opacity:0.8;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight:lighter;
 font-size:30px;

}






