

h2
{
    color:ivory;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body
{
   background-image: url(../IMAGES/lback.jpg);
   
    margin:0;
}

.outer_1
{
    margin-left:25%;
    margin-right:20%;
    height:650px;
    width:50%;
    margin-top:50px;
    
}

.inner_1
{
    float:left;
    width:39%;
    margin:0;
    display:inline;
   
    height:100%;
    background-color: rgba(39, 41, 41, 0.849);
    border-right:1px solid ivory;

}

.inner_2
{
    float:left;
    width:50%;
    margin:0;
    display:inline;
   padding-left:10%;
   background-color: rgba(39, 41, 41, 0.849);
    height:100%;
    
   
    
    
    
}

.inp
{
    border:0px;
    border-bottom:1px solid white;
    width:80%;
    background-color: rgba(39, 41, 41, 0);
    color:ivory;
    margin-top:10px;
    margin-bottom:10px;

    
}

option
{
  color:black;
}

.submit,.reset
{
  width:80%;
  padding:5px 8px 5px 8px;
  color:black;
  transition: 0.5s;
  margin-top:10px;
  cursor: pointer;
  border:0;
  border-radius:4px;
 
  
}
.submit:hover,.reset:hover
{
  color:red;
  transition:0.5s;
}
.google,.fb
{
padding:5px 8px 5px 8px;
  width:80%;
  cursor:pointer;
  
color:black;
transition:0.5s;

}

.google:hover,.fb:hover
{

  transition:0.5s;
color:red;

}
.mid
{
  text-align: center;
 padding-right:20%;
  color:ivory;
  font-family: Arial, Helvetica, sans-serif;
}
.cmt
{
  color:ivory;
  font-size:16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left:0;
}
.register
{
  color:ivory;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:0px;
  text-align: center;
  margin-top:10px;
}
.new
{
  text-decoration: none;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.reg
{
  text-align: center;
}
.new:hover
{
  color:red;
  transition: 1s;
}
