
body
{
    margin:0;
    background-color: black;

}

.outer
{
    margin:20px 50px 50px 50px;
    padding:10px;
    background-color: rgba(39, 41, 41, 0.404);

    height:370px;
    border-radius:5px;

}

.inner_1
{
    width:30%;
    display:inline;
    float:left;

}

.inner_2

{   height:90%;
    margin-top:10px;
    width:70%;
    display:inline;
    float:left;

}
.inner_3
{   height:10%;
    font-size:23px;
    color:ivory;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:inline;
    float:right;


}
h1
{
    color:white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    margin-bottom:5px;
    opacity:0.7;
}

h3
{
    color:ivory;
    opacity:0.4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;

}
/*li
{
    display:inline;
}

li img
{
    height:35px;
    margin:0 2% 0 2%;
}*/
